<h1>Firehose Quiz 1</h1>


<div class = center> 
	<div id= 'infinity'>
	</div>
</div> 
<p>
		For this quiz I did the following:
		<br/>
			<ol>Added static content (image)</ol>
			<ol>Hosted it on Heroku (but ha you already know that because you are viewing the page :) )</ol>
			<ol><a href="https://github.com/cameroniharris/firehosequiz1"> Hosted it on Github </a></ol>
			<ol>Changed the headline to blue </ol>
</p>
